# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
twitback
downloads
test_fixtures/photo.png
test_fixtures/video.mp4

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
